

@font-face {
    font-family: 'shabnam';
    src: url('/font/shabnam.ttf') ;
}

.persian {
    font-family: shabnam;
}


ul > li {
    font-weight: bold;
    border-bottom: none;
}

.shadow-button{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bold {
    font-weight: bold;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



